@*model IEnumerable<ode.Models.Entities.Project>*@
@model List<ode.Models.ProjectViewModel>

@{
    ViewData["Title"] = "Projects";
}

<h2>@ViewData["Title"]</h2>

<p>Projects page</p>

<ul>
@foreach (var item in Model) {
    <li>
        @Html.DisplayFor(modelItem => item.Name)
        @Html.DisplayFor(modelItem => item.MainNodeID)
        @Html.DisplayFor(modelItem => item.CreatedByUserID)
        @Html.DisplayFor(modelItem => item.CreatedDate)
    </li>
}
</ul>